
// 自动产生命名空间, 用于生成类名, 使用 $ns-sticky 作为类名
// * 例如: $ns: 'mk', componentName: 'Hero2', 则类名为 mk-hero2
// * $prefix 也会自动更新: $ns + '-' + 'sticky'
// * 例如: $ns: 'mk', componentName: 'Hero2', 则 $prefix 为 mk-hero2
.oe-sticky {
  &-container {
    position: relative;

    &.can-sticky {
      .oe-sticky-content.is-sticky {
        position: fixed;
      }
    }
  }

  &-item {
    position: relative;
  }

  &-content {
    will-change: top, position;
  }

  
}

