
.oe-sticky {
  &-container {
    position: relative;

    &.can-sticky {
      .oe-sticky-content.is-sticky {
        position: fixed;
      }
    }
  }

  &-item {
    position: relative;
  }

  &-content {
    will-change: top, position;
  }

  
}

